<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8eaa7">  <td>20/08/06 12:17:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.WebEvidenceTestMethod()[pri:0, instance:org.ust.test.WebTest@2b546384]">WebEvidenceTestMethod</td> 
  <td>main@433287555</td>   <td></td> </tr>
<tr bgcolor="e8eaa7">  <td>20/08/06 12:17:29</td>   <td>-67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebTest.setUp()[pri:0, instance:org.ust.test.WebTest@2b546384]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@433287555</td>   <td></td> </tr>
</table>
