<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>20/08/06 12:18:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.setUp()[pri:0, instance:org.ust.test.Main@6a41eaa2]">setUp</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/08/06 12:19:20</td>   <td>22747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebTest.setUp()[pri:0, instance:org.ust.test.WebTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/08/06 12:19:20</td>   <td>22844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.WebEvidenceTestMethod()[pri:0, instance:org.ust.test.WebTest@7cd62f43]">WebEvidenceTestMethod</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/08/06 12:19:37</td>   <td>40243</td> <td title="&lt;&lt;Main.cleanup()[pri:0, instance:org.ust.test.Main@6a41eaa2]">&lt;&lt;cleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
</table>
